* {
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
}
img {
    height: 100%;
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: -1;
}
main {
    background-color: hsl(0, 0%, 0%, 0.6);
    height: 100vh;
    color: hsl(0, 0%, 90%);
}

h1 {
    padding: 2em 0;
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 90%);
}
a:hover {
    text-decoration: underline lightblue;
    color: hsl(114, 100%, 35%);
}
h2,
h3 {
    padding-bottom: 0.5em;
}
p {
    padding: 0.5em 2em;
    font-size: 1rem;
}
form input {
    display: block;
    margin: 1em auto;
    padding: 0.2em;
    width: 15em;
    border-radius: 5px;
}
input[type="submit"] {
    max-width: 8em;
}
input[type="submit"]:hover {
    background-color: hsl(114, 100%, 85%);
}
